mix-manifest.json
assets/css/mycook.*.css
assets/css/style.*.css
assets/js/front.*.js
assets/js/vendedor.*.js
assets/js/comprador.*.js
assets/js/painel.*.js
assets/js/plugins-front.*.js
assets/js/core/plugins.*.js