
.input__entrar {
    border-radius: 2px;
    max-width: 100%;
    height: 61px;
    font-family: DINPro-Regular;
    font-size: 16px;
    color: $mc-color-gray--dark;
    letter-spacing: 0;
    line-height: 28px;
    &--select {
        height: 61px!important;
        background-image: url('../img/icon-select-input.png');
        background-repeat: no-repeat;
        background-size: 6.25px 15px;
        background-position: 90% 50%;
        -webkit-appearance:none;
    }
    &--checkbox {

    }
    &--textarea {
        height: 196px;
    }
}

.file-button {
    background: #4990E2;
    border-radius: 2px;
    font-family: DINPro-Medium;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: -0.16px;
    padding: 8px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

.form-control:focus {
    color: #464a4c;
    background-color: #fff;
    border-color: $mc-color-orange;
    outline: none;
}