.table {

    th,
    td {
        font-size: 0.9rem;
    }

    th {
        color: $heading-font-color;
        font-weight: normal;
    }

}

.card-block .table {

    th {
        border-top: none;
    }
}
